<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>control</title>
  </head>
  <body>
  <form method="post">
  <input type="text" status="message">
  <input type="submit">
  </body>
</html>
